altgraph==0.16.1
certifi==2022.12.7
chardet==3.0.4
dis3==0.1.2
future==0.18.3
idna==2.7
macholib==1.11
pefile==2018.8.8
PyInstaller==3.6
python-crontab==2.3.5
python-dateutil==2.7.3
requests==2.20.0
six==1.11.0
urllib3==1.26.5
wheel==0.38.1
